body {
    margin: 0;

}

.container {
    max-width: 1640px;
    margin: 0 auto;
    box-sizing: border-box;
}

nav {
    background-color: aqua;
}

.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.wrap__item {
    text-decoration: none;
    color: aquamarine;
    font-size: 22px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.main {
    background-color: crimson;
}

.product {
    background-color: coral;
}
.box {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.img {
    width: 50%;
    object-fit: cover;
}

footer {
    background-color: gold;
}

footer .box {
    padding: 1%;
}

.logo {
    width: 10%;
}

